.container > img {
  margin: 5px;
  border-image: linear-gradient(#f6b73c, rgb(229, 78, 208)) 40;
  border-width: 4px;
  border-style: solid;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer > * {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 20px;
}
